body{
	box-sizing: border-box;
	background-color: #f3f3f3;
	margin:40px auto;
	max-width:800px;
	line-height:1.6;
	font-size:18px;
	color:#444;
	padding:0 10px
}

h1,h2,h3{
		line-height:1.2;
}

.submit_button {

	margin: 30px 5px 0px 5px;
}